{% extends './base.html' %}
<!--
=======================================================================================================================
.DESCRIPTION
    $$$

.FUNCTIONALITY
    Version	Date		Who	Comment
    -------	----		---	-------
    1.0		.	        CWY	Initial Version

.COMMENTS
    .
=======================================================================================================================
-->

<!-- Title on tab-->
{% block title %} $$$ {% endblock title %}

<!-- Page content-->
{% block content %}

{% endblock content %}