{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}
REFID user_createORupdate
{% endblock %}

{% block content %}

<div class="container mt-3">
    <h2>{{ title }}</h2><br>

        <form method="POST">
            {% csrf_token %}
            <table class="table table-responsive table-hover table-bordered table-sm" style="width:100%;font-size:100%;">
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-success" value="{{ submit_text }}">
        </form>

    <br><br><br>
</div>

{% endblock %}