{% extends 'modals/baseModal.html %}

<!-- Modal Id -->
{% block modal-id %}id="deleteModal{{ employee.pk }}"{% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}
<i class="text-danger fa fa-trash-alt"></i>&nbsp;&nbsp; Delete Message
{% endblock modal-title %}

<!-- Modal Body -->
{% block modal-body %}
<div class="text-center text-danger"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
<div class="text-center text-danger">
    <span>DO YOU WANT TO DELETE THIS MESSAGE ???</span>
    <div class="text-dark mt-3 mb-2"><Employee: <strong>{{ employee.name }}</strong></div>
</div>
{% endblock modal-body %}

<!-- Modal Footer -->
{% block modal-footer %}
<a href="/delete_employee/{{ employee_id }}" class="btn btn-outline-danger btn-sm btn-modal">Delete</a>
{% endblock modal-footer %}