{% load static %}
<!-- BASE page for REFID Application -->
<html lang="en">
<head>
    {% include './includes/meta.html' %}
    {% include './includes/link.html' %}
    <title>
        REFID |
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body class="d-flex flex-column">

    {% include './includes/header.html' %}

    <div class="wrapper">

        {% block content %}

        {% endblock content%}

    </div>

    {% include './includes/footer.html' %}
    {% include './includes/scripts.html' %}
    {% include './includes/datatables.html' %}

</body>
</html>