{% extends 'admin/base.html' %}
{% load static %}
<!--
=======================================================================================================================
.DESCRIPTION
    ADMIN BASE page for GDR Project

.FUNCTIONALITY
    Version	Date		Who	Comment
    -------	----		---	-------
    1.0		01/01/2023  CWY	Initial Version

.COMMENTS
    .
=======================================================================================================================
-->
{% block branding %}

    <h1>Administration du site GDR</h1>

{% endblock %}

{% block extrastyle %}

   <Style>


   </Style>

{% endblock %}